[user]
	email = jsirex@gmail.com
	name = Yauhen Artsiukhou
[magit]
	hideCampaign = true
[commit]
[github]
	user = jsirex
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	external = difft
